/* kleuren */
:root {
  --geel-main: #FFF021;
  --geel-secundary: #ffd700;
}


*{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding:0;
  font: normal 18px/1.4 "open sans", helvetica, arial, sans-serif;;
  color: black;
}
main{

}
header, section, footer{
  min-height:100vh;
  overflow-x: scroll;
  margin: 0;
  padding:1em;
}
a{
  color: black;
}
a.next{
  display: block;
  width: 8rem;
  margin: 2rem auto;
  text-align: center;
}

/* Navigatie
Blijft altijd helemaal bovenaan staan
*/
nav{
  position: fixed;
  top:0;
  left:0;
  display:block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  xoverflow-x: scroll;
  width: 100%;
  min-height: 4rem;
  padding: 0;
  margin: 0;
  background:rgba(0, 0, 0, 0.9);
}
nav img{
  display:inline-block;
  xheight: 2em;
  margin: 0 0.6rem 0 0.6rem;
}
nav ul{
  list-style: none;
  display:inline-block;
  xdisplay: flex;
  xjustify-content: center;
  xalign-items: center;
  xalign-content:space-between;
  xwidth: 30em;
  margin: 0;
  padding: 0.4rem 0;
  xbackground: pink;
}
nav ul li{
  display:inline-block;
  margin: 0;
  padding: 0 0.4rem;
  xbackground: yellow;
}
nav a{
  color:white;
  font-size: 0.85em;
  letter-spacing: 0.05rem;
}
#tickets{ /* <a> link voor tickets verkoop - altijd in de header*/
  display: inline-block;
  xposition: absolute;
  xtop: 0.8rem;
  xright: 0.8rem;
  margin: 0 0.6rem 0 0.6rem;
  padding:0.4rem 0.6rem;
  background: #0DFF4D;
  color: black;
  border-radius: 0.4rem;
  text-decoration: none;
}

/* header
Met intro tekst over het congres,
fotootje van het EYE
en het beeldmerk
*/
header {
  xdisplay: flex;
  xalign-items: flex-start;
  xflex-wrap: wrap;
  background: var(--geel-main);
  color: black;
}
header h1{
  display: block;
  margin: 6rem 0 0 0;
  padding: 0;
  font-family: "open sans", helvetica, arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.1em;
  font-size: 15vw;
  line-height: 80%;
}
/* dit is de div voor het extra font design */
header div{
  position: absolute;
  margin: -2.35em 0 0 0;
  padding: 0;
  font-family: georgia, times, serif;
  font-weight: normal;
  letter-spacing: -0.15rem;
  font-size: 15vw;
  line-height: 80%;
  color: var(--geel-main);
  color: black;
  xcolor: rgba(0,0,0,0.7);
  color: rgba(255,244,58,0.8);
}
header h1 a{
  text-decoration: none;
  color: black;
}
header p{
  display: inline-block;
  max-width: 30rem;
  margin: 1rem 0 0 0.5rem;
  padding: 0.8rem;
  xfont-size: 1.1em;
  vertical-align: top; /* voor de inline-block, bovenin uitlijnen */
  xborder: solid 0.2rem black;
}
header img{
  display: inline-block;
  width: 19rem;
  height: 14rem;
  margin: 1rem 0 0 -0.5rem;
  padding: 0.2rem;
  background: black;
}

/*
Sections
Met alle content
talks, workshops, programme
venue en contact
*/
section:nth-child(odd){ background: var(--geel-main); }
section:nth-child(even){ background: var(--geel-secundary);}

section h2, footer h2{
  display: block;
  margin: 6rem 0 0 0;
  padding: 0;
  font-size: 16vw;
  font-weight: bold;
  letter-spacing: -0.03em;
  line-height: 80%;
}
/* dit is de div voor het extra font design */
section:nth-child(odd) div{ color: var(--geel-main); }
section:nth-child(even) div{ color: var(--geel-secundary);}
section div, footer div{
  position: absolute;
  margin: -0.82em 0 0 0;
  padding: 0;
  font-family: georgia, times, serif;
  font-weight: normal;
  letter-spacing: 0.1rem;
  font-size: 16vw;
  line-height: 80%;
}
/* eerste paragraaf met kader - cmd stylie */
section:nth-child(odd) > p:first-of-type { color: var(--geel-main); }
section:nth-child(even) > p:first-of-type { color: var(--geel-secundary);}
section > p:first-of-type, footer > p:first-of-type{
  display: inline-block;
  margin: -0.2rem 0 0 0.5rem;
  padding: 0.4rem;
  max-width: 30rem;
  xfont-size: 1.1em;
  letter-spacing: 0;
  border: solid 0.2rem black;
  background:black;
  color: var(--geel-main);
}
section p, footer p{
  max-width: 30em;
}
/*
TALKS
met 3keynotes
*/
section#talks {
  overflow-x: hidden;
}
section#talks ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
section#talks li{
  xposition: relative;
  display: inline-block;
  max-width: 24rem;
  margin: 1rem;
  xbackground: pink;
}
section#talks li img{
  float: right;
  width: 16rem;
  margin: 0 0 0 7rem;
  padding: 0.2rem;
  background: black;
}
section#talks li h3 {
  xdisplay: block;
  width: 14rem;
  margin: 10rem 0 0 0;
  padding: 0.4rem;
  xfont-size: 1.1em;
  font-weight: normal;
  letter-spacing: 0;
  border: solid 0.2rem black;
  background:black;
  color: var(--geel-secundary);
}
/* breakpint voor smallemobiele schermen en de scheve talks layout */
@media (max-width: 400px) {
    section#talks li{
      max-width: 20rem;
      margin: 0;
    }
    section#talks li img{
      width: 16rem;
      margin: 0 0 0 4rem;
    }
    section#talks li h3 {
      width: 14rem;
      margin: 10rem 0 0 0;
      padding: 0.4rem;
    }
    section#talks p{
      width: 16em;
    }
}


/*
WORKSHOPS
met ...
*/
section#workshops {

}
/*
PROGRAMMA
Tabel met titels, tijden en locaties
*/
section#programme {

}
section#programme table{
  margin: 1em auto;
  border-collapse: collapse;
}
section#programme table td{
  padding: 0.4rem;
  border: solid 0.2rem black;
}


/*
VENUE
iets over het eye, en hoe je er moet komen
*/
section#venue {

}
/*
FOOTER
met contact gegevens, mail adres
Organiasator, cmd logo en hva logo
Misschien sponsors?
*/
footer {
  background: grey;
}
footer > p:first-of-type{
  color: white;
}
